body {
    background: slategrey;
    margin: 0;
    display: flex;
    justify-content: right;
}

.logo {
    height: 60vh;
    width: 40vw;
    display: flex;
    align-items: center;
}

.logo-container {
    background-color: black;
    opacity: 50%;
    display: flex;
    height: 20%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

p {
    color: white;
}

img {
    height: 80%;
}

.form-container {
    background-color: rgb(249, 250, 251);
    height: 100vh;
    width: 60vw;
}